* {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 120px auto 60px;
    height: 100vh;
    width: 100vw;
}

.top {
    background: #00cccb;

}

.bottom {
    grid-column: 1 / span 2;
    background: #ccc;
}

.navigation {
    border: 2px solid #26335c;
    border-left: none;
    background: #ccc;
}

.content {
    padding: 45px 100px;
}

.title h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    line-height: 120px;
    font-family: serif;
}

.footer-navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.footer-navigation a {
    font-size: 25px;
    display: inherit;
    font-weight: bold;
}

.navigation-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
    padding: 0;

}

.navigation-list li {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
    background: #f1f1f1;
    border-radius: 2px;
    border: 1px solid #a7a59f;
    text-align: center;
}

.navigation-list li:first-child {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

table.full-size {
    width: 100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 30px;
    text-align: left;
    background-color: lightgray;
}

th, td {
    padding: 5px;
}

input[type=text], input[type=date], select {
    display: block;
    margin: 20px 0;
}